# udev rules file for WICED USB JTAG interface, to allow use by non super-users

SUBSYSTEM=="usb", ATTR{idVendor}=="04b4", ATTR{idProduct}=="f900", MODE="660", GROUP="plugdev", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="0a5c", ATTR{idProduct}=="43fa", MODE="660", GROUP="plugdev", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="0a5c", ATTR{idProduct}=="6422", MODE="660", GROUP="plugdev", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="04b4", ATTR{idProduct}=="009b", MODE="660", GROUP="plugdev", TAG+="uaccess", ENV{ID_MM_DEVICE_IGNORE}="1"
SUBSYSTEM=="usb", ATTR{idVendor}=="04b4", ATTR{idProduct}=="f905", MODE="660", GROUP="plugdev", TAG+="uaccess", ENV{ID_MM_DEVICE_IGNORE}="1", RUN+="/sbin/modprobe ftdi_sio" RUN+="/bin/sh -c 'echo 04b4 f905 > /sys/bus/usb-serial/drivers/ftdi_sio/new_id'"
SUBSYSTEM=="tty", ATTR{idVendor}=="0a5c", ATTR{idProduct}=="43fa", ENV{ID_USB_INTERFACE_NUM}=="00", MODE="660", GROUP="plugdev", TAG+="uaccess"
SUBSYSTEM=="tty", ATTR{idVendor}=="0a5c", ATTR{idProduct}=="43fa", ENV{ID_USB_INTERFACE_NUM}=="01", MODE="660", GROUP="plugdev", TAG+="uaccess"
SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="04b4", ENV{ID_MODEL_ID}=="009b", MODE="660", GROUP="plugdev", TAG+="uaccess"
SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="04b4", ENV{ID_MODEL_ID}=="f905", MODE="660", GROUP="plugdev", TAG+="uaccess"
#SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="04b4", ENV{ID_MODEL_ID}=="009b", ENV{ID_USB_INTERFACE_NUM}=="00", MODE="660", GROUP="plugdev", TAG+="uaccess", SYMLINK+="ttyWICED_HCI_UART%n"
#SUBSYSTEM=="tty", ACTION=="add", ENV{ID_VENDOR_ID}=="04b4", ENV{ID_MODEL_ID}=="009b", ENV{ID_USB_INTERFACE_NUM}=="01", MODE="660", GROUP="plugdev", TAG+="uaccess", SYMLINK+="ttyWICED_PUART%n"
